<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/IDEA/workspace/Epro/src">

        <classes>
            <class name="Base.TestCaseStudy" />
            <parameter name="test02" value="test02yang" />
            <parameter name="test02" value="test03yang" />
        </classes>
    </test>
</suite>